@import "../default/mixins";

.basic-content {
    @include standard-container-padding();
    position: relative;
    
    .row {
        @include remove-leading-margins();
    }

    // disable first element margin top
    > .container > .row > div > *:first-child{
        margin-top: 0 
    }

}

.has-padding + .has-padding{
    padding-top: 0!important; 
}

.home-newsletter{
    text-align: center;
    img.gform_ajax_spinner{ 
        display: none;
    }
    .bg-image{
        @include bp(767px){
            background-position: left center!important;
        }
    }
    form{
        &:after{
            content: '';
            display: table;
            width: 100%;
        }
        .gform_body{
            width: calc(100% - 250px);
            padding-right: 15px;
            float: left;
            @include bp(767px){
                width: 100%;
                padding: 0;
            }
        }
        .gform_footer{
            float: left;
            @include bp(767px){
                width: 100%;
            }
        }
        .dn-form-validation-error{
            display: none;
        }
    }
}