@import "../default/mixins";

.dn-cta {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fff;//$dn-secondary-color;
    position: relative;
    overflow: hidden;
    .bg-image{
        opacity: .1;
    }

    .container{
        position: relative;
        z-index: 5;
    }

    @media ( max-width: 767px) {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    .row {
        @media ( min-width: 768px) {
            display: flex;
        }
    }
    .cta-content{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
    }
}