@import "../default/mixins";

.dn-contact {
    //text-align: center;
    overflow: hidden;
    background-color: #fff;
    /* @include bpm(992px){   
        .row{
            display: flex;
            flex-direction: row-reverse;
        }
    } */
    @include bpm(992px){    
        > .container-flow > .row{
            display: flex;
        }
    }
    h3{
        margin-top: 0;
        margin-bottom: 5rem;
        @include bp(767px){
            margin-bottom: 3rem;
        }
    }
    input[type="submit"]{
        border: 1px solid #000;
        margin-top: 50px;
        @include bp(767px){
            margin-top: 30px;
        }
    }

    .left {
        @include bpm(992px){
            padding-left: 0;
            padding-right: 0;
        }
        .left-content {
            display: block;
            padding: 85px;
            @media ( max-width: 1199px) {
                padding: 50px;
            }
            @include standard-side-padding();
            @include bp(767px){
                min-height: auto;
            }
            h1 {
                @include bp(767px){
                    margin-top: 0rem;
                }
            }
            h4 {
                margin-top: 0rem;
            }
        }
    }
    .right {
        //@include standard-container-padding();
        @include bpm(992px){
            padding-left: 0;
            padding-right: 0;
        }
        h1 {
            margin-top: 0rem;
        }
        //padding-left: 4rem;
        //padding-right: 4rem;
        @include bp(768px){
            padding-left: 2rem;
            padding-right: 2rem;
        }
        background-color: $dn-secondary-color;
        .right-content {
            color:#000;
            padding: 85px;
            @media ( max-width: 1199px) {
                padding: 50px;
            }
            @include bp(767px){
                padding-left: 0;
                padding-right: 0;
            }
            h1 {
                @include bp(767px){
                    margin-top: 0rem;
                }
            }
            h4 {
                margin-top: 0rem;
            }
            .gform_wrapper {
                margin-top: 3rem;
            }
            .contact-field {
                width: 100% !important;
                margin-left: auto !important;
                margin-right: auto !important;
                input {
                    border-radius: 30px;
                    padding-left: 25px !important;
                    top: 30px !important;
                }
                label {
                    left: 26px !important;
                }
                textarea {
                    border-radius: 20px;
                    padding-left: 25px !important;
                    top: 30px !important;
                }
            }
            .gform_footer {
                margin-left: auto;
                margin-right: auto;
            }
        }
       
        form label{
            color: initial;
            
        }
        li.gfield{
            width: 100%;
        }
    }
    .dn-form-validation-error{
        display: none;
    }
    li.gfield.gfield_error{
        label{
            color: $dn-fail-color;
        }
    }
}

.page-template-page-t-leasing{
    .dn-contact{
        background-color: #fff;
    }
}