@import "../default/mixins";

.dn-basic-post-card {
    @include bp(767px){
        background-color: #f5f5f5;
    }
    
    .image-container {
        position: relative;
        padding-bottom: 100%;
    }
    .post-content {
        background-color: $dn-secondary-color;
        padding: 50px;
        @include bp(767px){
            padding: 40px 15px;
        }
    }
    .loop-title{
        margin-bottom: 20px;
        word-break: break-word;
    }
    .deets {
        margin-bottom: 1rem;
        font-size: 95%;
        
    }
   /*  .dn-button {
        margin-top: 25px;
    } */
}