@import "../default/mixins";

.dn-hover-cards {
    @include standard-container-padding();  
    background-color: #fff;
     
    .intro-content {
        @include intro-content-margin();
        text-align: center;
        .row .col-xs-12 {
            @include remove-leading-margins();
        }
    }
    .dn-hover-card {
        margin-bottom: 30px;
        box-shadow: 2px 2px 5px rgba(0,0,0,.2);
        @media ( max-width: 767px) {
            margin-bottom: 15px;
        }
    }
    .card-container {
        margin-bottom: -30px;
        @media ( max-width: 767px) {
            margin-bottom: -15px;
        }
        @media ( max-width: 767px) {
            .row {
                margin-left: -15px;
                margin-right: -15px; 
            }
        }
    }
} 

.dn-hover-card {
    position: relative;
    padding-bottom: 100%;
    text-align: center;
    overflow: hidden;
    .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        .content-inner{
            position: relative;
            z-index: 5;
        }
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: $dn-secondary-color;
            transition: height $main-transition-time $main-transition-type;
            -webkit-transition: height $main-transition-time $main-transition-type;
            -moz-transition: height $main-transition-time $main-transition-type;
            -o-transition: height $main-transition-time $main-transition-type;
            z-index: 1;
        }
    }
    a{
        display: block;
        &:hover{
            .content:before{
                height: 700%;
            }
        }
    }
    h3{
        margin: 0;
        padding: 15px 0;
        font-weight: normal;
    }
    /* &:hover {
        .content {
            top: 0rem;
        }
        .content-inner {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
        }
    } */
    /* .content-inner {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 15px;
        transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        -webkit-transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        -moz-transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        -o-transition: transform $main-transition-time $main-transition-type, top $main-transition-time $main-transition-type;
        h3 {
            margin: 0;
            height: 52px;
            line-height: 52px;
            @media ( max-width: 767px) {
                font-size: 1.15em;
            }
        }
    }
    &.hover {
        .content {
            top: 0;
        }
        .content-inner {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    } */
}