@import "../default/mixins";

.section-instagram{
    width: 100%;
    position: relative;
    @include standard-container-padding();
    text-align: center;

    @media only screen and (max-width: 991px) {
        margin-top: 50px;
    }

    .instagram-wrapper{
        overflow-x: auto;
        padding-left: 150px;
        padding-right: 150px;
        @include bp(1200px){
            padding-left: 100px;
            padding-right: 100px;
        }
        @include bp(991px){
            padding-left: 50px;
            padding-right: 50px;
        }
        @include bp(767px){
            padding: 0;
        }
        .instagram_gallery{
            margin-left: -5px;
            margin-right: -5px;
            @include bp(767px){
                display: flex;
            }
        }
        a {
            border: none!important;
            @include bp(767px){
                display: block;
                float: left;
                text-decoration: none!important;
                border: none!important;
            }
            img{
                padding: 5px;
                
                @include bp(767px){
                    max-width: 100vw;
                    width: 85vw!important;
                }
            }
        }
        @media only screen and (max-width: 991px) {
           // padding-bottom: 8px;
        }
        
          #instagram-feed1{
              overflow: auto;
            @media only screen and (max-width: 991px) {
                //width: 350vw;
            }

            
        }
    }


    .section-shortcodes-container {
        position: relative;
        // overflow: hidden;

        @media only screen and (max-width: 991px) {
            padding-right: 0;
        }

        .section-shortcodes-title{
          position: absolute;
          right: 20px;
          top: 50%;

          -moz-transform:translatey(-50%);
          -o-transform:translatey(-50%);
          -ms-transform:translatey(-50%);
          -webkit-transform:translatey(-50%);
          transform:translatey(-50%);

          @media only screen and (max-width: 991px) {
              position: static;
              right: auto;
              display: none;
          }

          .shortcodes-title-pos{
              transform: rotate(-90deg) translatey(-50%);
              -webkit-transform-origin: right;
              transform-origin: right;
              position: relative;
              margin-top: -5px;
              width: 10px;
              background-color: red;
              text-align: center;

              h2{
                font-size: 21px;
                font-weight: 200;
                letter-spacing: 1.94px;
                color: #000000;
                text-transform: uppercase;
                opacity: 1;
                position: absolute;
                left: 50%;
                -moz-transform:translatex(-50%);
                -o-transform:translatex(-50%);
                -ms-transform:translatex(-50%);
                -webkit-transform:translatex(-50%);
                transform:translatex(-50%);

                @media only screen and (max-width: 1580px) {
                    font-size: 1.25vw;
                }

                @media only screen and (max-width: 1199px) {
                    font-size: 12px;
                }

                @media only screen and (max-width: 991px) {
                    transform: unset;
                    transform-origin: left;
                    font-size: 16px;
                    text-align: left;
                }
              }
          }

          
        }
    }


}