@import "../default/mixins";

$image-padding: 15px;

.dn-logo-gallery {
  
    @include standard-container-padding();
  
    h2 {
      text-align: center;
      margin-top: 0px;
      @include intro-content-margin();
    }
  
    ul {
      list-style: none;
  
      padding: 0;
      margin: 0;
   
      margin-bottom: -2 * $image-padding;
  
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

  
      li {
        padding: 0;
        margin: 0;
  
        margin-bottom: 2 * $image-padding;
        margin-left: $image-padding;
        margin-right: $image-padding;
  
       /*  &:not(:first-of-type) {
          margin-left: $image-padding;
        }
  
        &:not(:last-of-type) {
          margin-right: $image-padding;
        }
   */
        img {
          width: auto;
          height: auto;
          max-height: 100px;
        }
      }
  
      @media (max-width: 767px) {
        display: block;
        text-align: center;
       
        margin-bottom: -30px !important;
  
        li {
          margin-left: 7px ;
          margin-right: 7px ;
          margin-bottom: 14px !important;
          display: inline-block;
          img{
              max-height: 90px;
          }
        }
      }
    }
  }
  