@import "../default/mixins";


.gmap {
    height: 100%;
    min-height: 500px;
    width: 100%;
    background-color: #f8f8f8;
    
    @include bp(991px){
        min-height: 450px 
    }
    
}

.map-contact{
    background-color: $dn-secondary-color;
    
    p:last-child {
        margin-bottom: 0rem;
    }
    display: flex;
    flex-direction: row-reverse;

    @include bp(991px){
        display: block;
        width: 100%
    }
    
    > div{
        width: 50%;
        position: relative;
        display: flex;
        align-content: left;
        justify-content: left;
        flex-direction: column;
        @include bp(991px){
            display: block;
            width: 100%
        }
    }
    .contact{
        padding: 85px;
        @media ( max-width: 1199px) {
            padding: 50px;
        }
        @include standard-side-padding();
        
        > *{
            display: block;
            width: 100%
        }
    }
    .address{
        display: block;
        width: 100%;
    }

    h2{
        margin-top: 0;
        letter-spacing: 5px;
        margin-bottom: 30px;
    }

    &.business-hour{
        text-align: left;
        @include bp(991px){
            text-align: center;
        }
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-top: 1em;
            }
        }
    }
}