@import "../default/mixins";

.dn-block-flex {
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

    .cat{
        position: absolute;
        z-index: 5;
        top: 15px;
        right: 15px;
        background: rgba(255,255,255,.2);
        display: inline-block;
        border-radius: 30px;
        padding: 3px 25px;
        color: #fff;
    }

    .intro-content {
        text-align: center;
        @include intro-content-margin();

        .row .col-xs-12 {
            @include remove-leading-margins();
        }
    }
    .post-container {
        //margin-bottom: -30px;
        // Gives items even height
        .px-0{
            padding-right: 0;
            padding-left: 0;
        }

        @media ( min-width: 768px) {
            .row {
                display: flex;
                flex-wrap: wrap;
            }
        }
        // Gives items overflow scroll
        /*@media ( max-width: 767px) {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            .row {
                display: flex;
                >div{
                    padding-left: 0;
                    &:first-child{
                        padding-left: 15px;
                    }
                }
                &>div:not(:last-of-type) {
                    padding-left: 0;
                } 
            }
        }*/
    }

    .col-md-3{
        .post-content {
            background-color: #ffffff;
        }


        &:nth-child(2n+1) {
            .post-content {
                background-color: $dn-secondary-color;
            }
        }

        @include bp(1200px){
            width: 50%;

            &.feat-loop-3,
            &.feat-loop-4{
                display: none;
            }
        }

        @include bp(767px){
            width: 100%;
        }

    }

    .dn-basic-post-card {
        //padding-bottom: 30px;
        // Gives items even height

      

        @media ( min-width: 768px) {
            height: 100%;
            display: flex;
            flex-direction: column;
            .post-content {
                flex-grow: 1;
            }
        }
        
    }
}