@import "../default/mixins";

.store-category-wrapper-parent{

    overflow: hidden;
    padding-top: 5px;
    @include bpm(992px){
        margin-left: -15px;
        margin-right: -15px;
    }
    .element-item{
        width: 33.3333%;
        padding: 0 15px;
        margin-bottom: 30px;
        cursor: pointer;

        @include bp(991px){
            width: 50%;
            padding:5px;
            margin-bottom: 5px;
        }

        .inner{
            position: relative;
            overflow:hidden;
            padding-bottom: 100%;
            box-shadow: 0px 0px 2px rgba(0,0,0,.4);
            font-size:16px;

            @include bp(991px){
                font-size: 14px;
            }

            .images{
                position: absolute;
                width: 100%;
                height: calc(100% - 50px);
                top: 0;
                left: 0;
                @include bp(991px){
                    height: calc(100% - 45px);
                }
            }

            .bg-image{
                background-position: center;
                background-color: #fff;
                background-repeat: no-repeat;
                background-size: 75%;
                @include bp(991px){
                    background-size: 65%;
                }
            }
            .store-number{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 5;
                background-color: $dn-secondary-color;
                color: #000;
                padding:10px 5px;
                font-weight: 400;
                transition: transform ease-in-out .25s;
                transform: translateY(0%);
            }
            .title-number{
                margin-bottom: 10px;
            }
            h3{
                font-family: 'Lato', sans-serif;
                font-size:20px;
                margin-bottom: 0;
                @include bp(991px){
                    font-size:18px;
                }
            }
            .details{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $dn-secondary-color;
                text-align: center;
                display: flex;
                align-items: center;
                transition: transform ease-in-out .25s;
                transform: translateY(100%);
                >div{
                    width: 100%;
                }
                a:hover{
                    color: #000;
                    opacity: .8;
                }
            }
        }

        &:hover{
            .details{
                transform: translateY(0);
            }
            .store-number{
                transform: translateY(100%);
            }
        }
    }
}

.category-button-wrapper{
    margin-bottom: 100px !important;
    @include bp(1200px){
        margin-bottom: 50px!important;
    }

    .feature-button.active{
        background-color: $dn-secondary-color!important;
        color: #000!important;
        font-weight: bold!important;
        box-shadow: none!important;
    }
}

.dn-hover-category-listing {
    padding-top: 6rem;
    padding-bottom:5rem;

    @include bp(1200px){
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .intro-content {
        @include intro-content-margin();
        text-align: center;
        .row .col-xs-12 {
            @include remove-leading-margins();
        }
    }

} 

.store-link-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    a{
        display: block;
        padding: 20px 15px;
        background-color: #000;
        color: #fff!important;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }
}

#store-map{
    text-align: center;
    padding-top: 30px;
    @include bpm(1201px){
        padding-bottom: 30px;
    }
    @include bp(1200px){
        padding-top: 0;
    }

    .map-holder{
        box-shadow: 0px 0px 2px rgba(0,0,0,.4);
    }
    h2{
        background-color: $dn-secondary-color;
        padding: 15px;
        margin-bottom: 0;
        @include bp(991px){
            font-size: 20px;
        }
    }
}

