@import "../default/mixins";

.dn-basic-slider {
    @include standard-container-padding();
    .intro-content {
        text-align: center;
        @include intro-content-margin();
        .row {
            @include remove-leading-margins();
        }
    }
    .slick-slider-container {
        .slick-list {
            margin-bottom: 25px;
        }
    }
    .slider-container {
        position: relative;
    }
    .dn-testimonial {
        padding: 0 100px;
        @media ( max-width: 991px) {
            padding: 0 50px;
        }
        @media ( max-width: 767px) {
            padding: 0 15px;
        }
        .author{
            font-weight: bold;
        }
    }
    .slider-overlay {
        position: absolute;
        top: 0;
        width: 100px;
        height: 100%;
        $overlayer-color: #f3f3f3;
        @media ( max-width: 991px) {
            width: 50px;
        }
        @media ( max-width: 767px) {
            width: 15px;
        }
        &.slider-overlay-left {
            left: 0;
            @media ( max-width: 767px) {
                left: 15px;
            }
            background: transparent;
            /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, $overlayer-color, transparent);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, $overlayer-color, transparent);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, $overlayer-color, transparent);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, $overlayer-color, transparent);
            /* Standard syntax */
        }
        &.slider-overlay-right {
            right: 0;
            @media ( max-width: 767px) {
                right: 15px;
            }
            background: transparent;
            /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(right, $overlayer-color, transparent);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(left, $overlayer-color, transparent);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(left, $overlayer-color, transparent);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(to left, $overlayer-color, transparent);
            /* Standard syntax */
        }
    }
}

.dn-testimonial {
    text-align: center;
    .img-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        height: 90px;
        width: 90px;
        // Ensurs you do this opn parent and background
        // Some browsers will show image if not on both
        &,
        .bg-image {
            // Border radius is half of the image height/width
            border-radius: 45px;
            overflow: hidden;
        }
    }
    blockquote {
        @include remove-leading-margins();
        margin-top: 0;
        margin-bottom: 25px;
    }
    .info {
        @include remove-leading-margins();
        * {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}