@import "../default/mixins";

.text-gallery{
    display: flex;
    @include bp(991px){
        display: block;
    }
    
    > div{
        width: 50%;
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        @include bp(991px){
            display: block;
            width: 100%
        }
    }
    .text-gallery-slider{
        position: relative;
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        @include bp(991px){
            display: block;
        }
        &.responsive-centered{
            .slide-item{
                @include bp(991px){
                    margin: 0 15px;
                }
            }
        }
        
    }
    .gallery-slider{
        @include bp(991px){
            display: block;
            height: 450px;
        }
        @include bp(767px){
            height: 350px
        }
        
        
    }
    .text-gallery-slider,
    .slick-track,
    .slick-list{
        height: 100%
    }
    .slide-item{
        position: relative;     
    }
    .slick-dots{
        position: absolute;
        bottom: 30px;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        @include bp(991px){
            bottom: 50px
        }
        
        li{
            display: inline-block;
            vertical-align: middle;
            margin: 0 7px;
            button{
                padding: 0;
                margin: 0;
                border-radius: 50%;
                text-indent: -99999em;
                width: 22px;
                height: 22px;
                display: inline-block;
                vertical-align: middle;
                background: $dn-primary-color!important;
                opacity: .65;
                border: none!important;
                &:before{
                    display: none
                }
            }
            &.slick-active button{
                width: 32px;
                height: 32px;
                opacity: 1;
            }
        }
        
    }
    .content{
        padding: 85px;
        @include standard-container-padding();
        .heading, .sub-heading{
            margin-top: 0;
            margin-bottom: 0;
        }
        @include standard-side-padding();
    }
    p:last-child {
        margin-bottom: 0rem;
    }
}