.site-footer{
    background: #FFFFFF;
    padding: 80px 70px;

    @include bp(991px){
        text-align: center;
        padding: 50px 15px;
    }
    @include bp(767px){
        text-align: left;
    }
    p{
        margin-bottom: 0;
    }
    a{
        text-decoration: none;
        color: #000000;
    }

    h4{
        font-family: 'Lato', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
    }

    .digital-noir{
        text-align: right;
        
        a{
            font-size: 120%;
            border: none;
        }
        @include bp(991px){
            text-align: center;
        }
        
    }
    .row{
        position: relative;
    }
    .footer-section{
        width: 19%;
        float: left;
        .widget{
            margin-bottom: 0;
        }
        @include bp(1200px){
            width: 33%;
        }
        @include bp(991px){
            width: 100%;
            margin-bottom: 40px;
        }
        &.newsletter{
            width: 43%;
            @include bp(1200px){
                width: 100%;
            }
            .widget{
                max-width: 400px;
                @include bp(991px){
                    margin: 0 auto;
                }
            }
        }
        .gform_footer{
            margin-top: 10px;
        }
        .dn-form-validation-error{
            display: none;
        }
        a{
            @include transition
        }
        a:hover{
            opacity: .5;
        }
    }

    .dn-copy{
        position: absolute;
        top: 0;
        right: 0;
        @include bp(991px){
            width: 100%;
            float: left;
            position: relative;
            text-align: center;
        }
    }

    .widget {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: block;
            // display: inline-block;
        
            li {
                display: block;
                margin-bottom: 5px;
                // margin-left: 5px;
        
                &:last-child {
                    margin-bottom: 0;
                    // margin-left: 0;
                }
            }
        }
    }
}