@import "../default/mixins";

.error404{
    .site-main{
        position: relative;
        height: 78vh;
    }
    .error-404{
        position: relative;
        top:50%;
        transform: translateY(-50%);
        text-align: center;
        margin: 0 auto;
        >*{
            position: relative;
            z-index: 5;
        }
        .the-404{
            font-weight: 900;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            font-size: 15rem;
            z-index: 1;
            opacity: .1;
            width: 100%;
            span{
                margin:0 1rem;
                display: inline-block;
            }
            @include bp(767px){
                font-size: 10rem;
                span{
                    margin: .7rem;
                }
            }
            
        }
    }
    h1{
        margin: 0;
    }
    .sorry{
        font-size: 1.3rem;
        margin: .5rem 0;
    }
    
}