@import "../default/mixins";

.archive-header{
    background: #313131;
    color: #fff;
    h1{
        margin: 0;
    }
    .archive-description{
        p{
            margin-top: .5rem;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}

.results{
    @include standard-container-padding
}

.infinite-status-container{
    text-align: center;
}

.infinite-container{
    width: 100%;
}

.category-button-wrapper{
    text-align: center;
    margin-bottom: 100px;
    a{
        margin: 5px;
        display: inline-block;
        &.active{
            background-color: $dn-secondary-color!important;
            color: #000!important;
            font-weight: bold!important;
            box-shadow: none!important;
        }
    }
}
.nofound{
    margin: 2em 0 1em;
    text-align: center;
    display: block;
    width: 100%;
}

.cat{
    position: absolute;
    z-index: 5;
    top: 15px;
    right: 15px;
    background: rgba(255,255,255,.2);
    display: inline-block;
    border-radius: 30px;
    padding: 3px 25px;
    color: #fff;
}