@import "../default/mixins";

.archive-header{
    background: #313131;
    color: #fff;
    h1{
        margin: 0;
    }
    .archive-description{
        p{
            margin-top: .5rem;
            &:last-of-type{
                margin-bottom: 0; 
            }
        }
    }
}

.the-sidebar{
    h3{
        margin-bottom: 0;
    }
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            a{
                display: block;
                padding: .5rem 0;
                &[aria-current="page"]{
                    font-weight: bold;
                }
            }
            &.current-cat-parent,
            &.current-cat{
                a{
                    font-weight: bold;
                }
            }
        }
    }
    section{
        margin-bottom: 2rem;
    }
}

.results{
    @include standard-container-padding
}

.infinite-status-container{
    text-align: center;
}