@import "../default/mixins";

body.home .hero-section .hero-section-wrapper{
  height: calc(80vh - 100px);
  @include bp(1200px){
    height: calc(80vh - 75px);
  } 
}

.casual-hero{
  position: relative;
  overflow: hidden;
  height: calc(50vh - 100px);
  max-height: 500px;
  background-color: $dn-secondary-color;
  overflow: hidden;
  display: flex;
  align-items: center;
  
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dn-secondary-color;
    opacity: .9;
    z-index: 4;
  }
  @include bp(1200px){
    height: auto;
    max-height: auto;
    min-height: 300px;
  } 

  .inner{
    position: relative;
    z-index: 5;
    text-align: center;
    max-width: 750px;
    padding: 30px 15px;
    margin: 0 auto;
  }
}

.hero-section {
  background-color: $dn-secondary-color;
  overflow: hidden;
  position: relative; 

  .hero-section-wrapper{
    
    

      .hero-section-left{
        float: left;
        width: 50%;
        height: 100%;
        background-color: transparent;

        @include bp(991px){
          width: 100%;
          height: auto;
          min-height: 50vh;
          text-align: center;
        }
        

        .hero-content-parent {
          display: flex;
          min-height: 50vh;
          height: 100%;
          align-items: center;
          
          
            p, .hero-title{
              font-size: 40px;
              font-weight: normal;
              font-family: 'Poiret One', sans-serif;
              line-height: 1.2;
              @include bp(1200px){
                font-size: 30px;
              }
            }
            p{
              margin-bottom: 0;
            }
        }
        .hero-content-child {
          align-self: center;
          padding: 70px;
          p{
            font-family: 'Lato', sans-serif;
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 1.65;
            font-weight: 300;
          }
          @include bp(1200px){
            br{
              display: none;
            }
          }
          @include bp(991px){
            padding: 150px 15px;
          }

          @include bp(767px){
            padding: 50px 15px;
          }
          
        }

      }

      .hero-section-right{
        float: right;
        width: 50%;
        height: 100%;
        background-color: #eee;
        position: relative;
        @include bp(991px){
          width: 100%;
          height: auto;
          min-height: 50vh;
        } 
        
      }
  }



  // &.bg-color-enabled {
  //   background-color: $dn-primary-color;
  // }

  // &.layout-title_only {
  //   background-color: transparent;
  // }
  // @include bp(991px) {
  //   padding-left: 0;
  //   padding-right: 0;
  // }
  // @include bp(767px) {
  //   padding-top: 80px;
  // }
  // .entry-title {
  //   margin-bottom: 0.2em;
  //   color: #fff;
  // }
  // p {
  //   margin-top: 0;
  //   color: #fff;
  // }
  // &.layout-banner_large {
  //   display: -webkit-flex;
  //   display: -ms-flexbox;
  //   display: flex;
  //   -webkit-flex-direction: column;
  //   -ms-flex-direction: column;
  //   flex-direction: column;
  //   justify-content: center;
  // }
  // .subheading{ 
  //   font-size: 1.25em;
  //   font-weight: bold;
  //   margin-bottom: 1em;
  //   color: #fff;
  // }
  // .container {
  //   .row {
  //     .col-xs-12 {
  //       @include remove-leading-margins();
  //       .subheading {
  //         @include remove-leading-margins();
  //       }
  //     }
  //   }
  // }
  

  // .line-1 {
  //   color: $dn-white;
  //   position: relative;
  //   width: 11em;
  //   white-space: nowrap;
  //   overflow: hidden;
  //   transform: translateY(-50%);    
  // }

  // .anim-typewriter{
  //   animation: typewriter 3s steps(100) 1s 1 normal both;
  // }
  // @keyframes typewriter{
  //   from{width: 0;}
  //   to{width: 11em;}
  // }
}
